<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Visitor</title>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>
<body>

<h5>Current Visitors</h5>
<div id="container" style="height: 400px;"></div>
<button id="button" class="autocompare">Add Point</button>

<script type="text/javascript" charset="utf-8">
  Highcharts.theme = {
    "colors": ["#F92672", "#66D9EF", "#A6E22E", "#A6E22E"],
    "chart": {
      "backgroundColor": "#272822",
      "style": {
        "fontFamily": "Inconsolata",
        "color": "#A2A39C"
      }
    },
    "title": {
      "style": {
        "color": "#A2A39C"
      },
      "align": "left"
    },
    "subtitle": {
      "style": {
        "color": "#A2A39C"
      },
      "align": "left"
    },
    "legend": {
      "align": "right",
      "verticalAlign": "bottom",
      "itemStyle": {
        "fontWeight": "normal",
        "color": "#A2A39C"
      }
    },
    "xAxis": {
      "gridLineDashStyle": "Dot",
      "gridLineWidth": 1,
      "gridLineColor": "#A2A39C",
      "lineColor": "#A2A39C",
      "minorGridLineColor": "#A2A39C",
      "tickColor": "#A2A39C",
      "tickWidth": 1
    },
    "yAxis": {
      "gridLineDashStyle": "Dot",
      "gridLineColor": "#A2A39C",
      "lineColor": "#A2A39C",
      "minorGridLineColor": "#A2A39C",
      "tickColor": "#A2A39C",
      "tickWidth": 1
    }
  };

  // Apply the theme
  Highcharts.setOptions(Highcharts.theme);

  var chart = Highcharts.chart('container', {
    chart: {
      type: 'areaspline',
    },

    title: {
      text: 'Visitor Tracking Overview',
    },

    xAxis: {
      type: 'datetime'
    },

    series: [
      {
        name: 'Unique Visitors Count',
        animation: false,
        data: [],
      },
      {
        name: 'Current Clicks',
        animation: false,
        data: [],
      },
    ],

    plotOptions: {
      areaspline: {
        fillOpacity: 0.1,
        marker: {
          enabled: false,
        }
      }
    }
  });

  // the button action
  // var i = 0;
  // var generate = randomSin();
  // setInterval(function () {
  //   chart.series[0].addPoint([+(new Date()), generate()], true, false);
  //   i += 1;
  // }, 1000);

  // $('#button').click(function () {
  //   console.log(generate());
  // });

  function randomSin() {
    var value = 0, i = 0;
    return function () {
      value = Math.max(-10,
        Math.min(10, value +
          .8 * Math.random() -
          .4 + .2 * Math.cos(i += .2)));
      return value;
    }
  }

  // Create WebSocket connection.
  const socket = new WebSocket('ws://localhost:9293');
  const serverDelay = 5; // 5 seconds lag
  // Connection opened
  socket.addEventListener('open', function (event) {
    setInterval(function () {
      socket.send(JSON.stringify({
        time: Math.round(+(new Date()) / 1000) - serverDelay, // Server accept seconds only
      }));
    }, 1000);
  });

  // Listen for messages
  socket.addEventListener('message', function (event) {
    console.log('Message from server ', event.data);
    var visitData = JSON.parse(event.data);
    var newVisit = [visitData.time * 1000, visitData.count];
    chart.series[0].addPoint(newVisit, true, false);
  });
</script>
</body>
</html>